*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.metadata
target/*
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.classpath
.project

# Locally stored "Eclipse launch configurations"
*.launch
/target
